/* Reseteo de márgenes y rellenos */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}

.content {
  flex-grow: 1;
  min-height: calc(100vh - 64px); /* Ajusta la altura para ocupar más espacio */
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  background: #3f51b5; /* Manteniendo coherencia */
  color: white;
}

/* Estilo para el contenedor principal */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(./assets/background.jpg) no-repeat center fixed;
  background-size: cover;

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

/* Asegura que los botones mini-fab de Angular Material se estilicen correctamente */
.window-controls button {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: none;
  box-shadow: none;
}

/* Estilos para el color de los botones de ventana */
.mat-mini-fab[color="secondary"] {
  background-color: #ff9800;
}

.mat-mini-fab[color="warn"] {
  background-color: #f44336;
}

.mat-mini-fab[color="accent"] {
  background-color: #e91e63;
}

/* Estilos adicionales para mejorar la apariencia de los botones */
.mat-icon {
  color: white !important;
}

/* Asegura que el título de la barra de herramientas esté centrado */
.toolbar-title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* Asegura que los botones dentro de la barra de herramientas tengan un color blanco */
.mat-toolbar button {
  color: white;
}

/* Botón de menú con el icono */
.mat-toolbar .mat-icon-button {
  margin-right: 10px;
}

/* Si necesitas personalizar más los botones, puedes agregar más reglas aquí */