<div class="container">
  <div class="title-container">
    <h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>
  </div>
  <div class="image-grid">
    <a routerLink="/rentcapture"><img src="assets/img/logo_circulo.png" alt="Rents"></a>
    <a routerLink="/salecapture"><img src="assets/img/logo_circulo.png" alt="Sales"></a>
    <a routerLink="/reports"><img src="assets/img/logo_circulo.png" alt="Reports"></a>
    <a routerLink="/cutx"><img src="assets/img/logo_circulo.png" alt="CutX"></a>
  </div>
</div>