<div class="container">
  <div class="title-container">
    <h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>
  </div>
  <div class="image-grid">
    <!-- First line with 2 buttons -->
    <div class="row">
      <a routerLink="/rentcapture" class="button"><img src="assets/img/logo_circulo.png" alt="Rents"></a>
      <a routerLink="/salecapture" class="button"><img src="assets/img/logo_circulo.png" alt="Sales"></a>
    </div>
    <!-- Second line with 3 buttons -->
    <div class="row">
      <a routerLink="/cutxcapture" class="button"><img src="assets/img/logo_circulo.png" alt="CutX"></a>
      <a routerLink="/cutzcapture" class="button"><img src="assets/img/logo_circulo.png" alt="CutZ"></a>
      <a routerLink="/reports" class="button"><img src="assets/img/logo_circulo.png" alt="Reports"></a>
    </div>
  </div>
</div>