.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column; // Arrange children in a column
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 5px 20px 10px 20px; // Add padding to the container
}

.title-container {
  margin-bottom: 5px; // Add margin below the title
}

.image-grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button {
  margin: 0 10px;
}

.image-grid img {
  width: 200px; // Set fixed width for images
  height: 300px;
  object-fit: cover;
}