.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column; // Arrange children in a column
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 5px 20px 10px 20px; // Add padding to the container
}

.title-container {
  margin-bottom: 5px; // Add margin below the title
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Ensure two columns
  gap: 40px; // Increase the gap between images
  justify-content: center;
  align-items: center;
  margin-top: 20px; // Add margin to the top of the image grid
}

.image-grid img {
  width: 200px; // Set fixed width for images
  height: 300px;
  object-fit: cover;
}