<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'navigation'" [mode]="'side'" [opened]="true">
    <mat-toolbar>Pista de Hielo</mat-toolbar>
    <div class="logo-container">
      <a routerLink="home" (click)="updateTitle('Home')">
        <img src="assets/img/logo_circulo.png" alt="Logo" height="100">
      </a>
    </div>
    <label class="subtitle">Menu</label>
    <mat-nav-list>
      <a mat-list-item routerLink="detail" (click)="updateTitle('Detalle')">Detalle</a>
      <a mat-list-item routerLink="rents" (click)="updateTitle('Rentas')">Rentas</a>
      <a mat-list-item routerLink="sales" (click)="updateTitle('Ventas')">Ventas</a>
      <a mat-list-item routerLink="reports" (click)="updateTitle('Reportes')">Reportes</a>
      <a mat-list-item routerLink="cutx" (click)="updateTitle('Corte X')">Corte X</a>
      <a mat-list-item routerLink="cutz" (click)="updateTitle('Corte Z')">Corte Z</a>
      <a mat-list-item routerLink="users" (click)="updateTitle('Usuarios')">Usuarios</a>
    </mat-nav-list>
    <mat-nav-list class="exit to-bottom">
      <a mat-list-item href="#" (click)="closeWindow()">Salir
        <mat-icon>exit_to_app</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>